<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Homepage</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <p>You see my updated homepage at:</p>
    {{#link-to 'https://tranquil-hamlet-68322.herokuapp.com/project'}} {{/link-to}}

    {{> footer}}

  </body>
</html>
