<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Homepage</title>
      <body background="ranta.jpg">
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}
    <a href="http://laurishostingpackage-com.stackstaging.com">my homepage</a></p>

    <br><br>
    {{> footer}}

  </body>
</html>
